<!--
<h1 class="header">我是 header</h1>
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a>
-->

<div class="header bg-primary">
    <div class="container">
        <nav class="d-flex p-16 jc-sb ai-c flex-wrap p-0">
            <a href="index.html"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="logo"></a>
            <ul class="d-flex font-m w-492 jc-sb flex-wrap menu1">
                <li><a href="#">系列鏡框</a></li>
                <li><a href="page6.html">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="faq.html">常見問題</a></li>
            </ul>
        </nav>
    </div>
</div> 